html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: lightgray;
}

#canvas {
    min-width: 1000px;
    min-height: 600px;
}

#legend {
    min-height: 280px;
    max-width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#tooltip {
    visibility: hidden;
    min-height: 160px;
    width: 200px;
    margin-top: 2px;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.tile:hover {
    fill: gainsboro
}

#description {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    width: 200px;
}